
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.main-content{
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
	background-color: #070217;
}

.first-level{
	font-weight: 400;
	font-size: 60px;
	line-height: 60px;
	color: #333;
}

.logo{
	display: block;
	width: 137px;
	height: 30px;
	margin-bottom: 25px;
	background-image: url("../img/Skillbox.png");background-size: 137px 30px;
	background-position: center;
	background-repeat: no-repeat;
}

/*cdhead*/

.link-home{
	display: block;
	font-size: 20px;
	font-weight: 400;
	height: 23px;
	font-family: Arial;
	color: #3f2aff;
	margin-bottom: 25px;
	padding-left: 52px;
	background-image: url("../img/ToHome.svg");
	background-position: left center;
	background-repeat: no-repeat;
}

.link-block{
	margin-bottom: 25px;
}

.nav{
	margin-bottom: 50px;
}

.link{
	border-bottom: 1px solid #3f2aff;
	color: #3f2aff;
}

.link-nav{
	display: inline-block;
	padding: 24px 49px;
	font: 700 18px;
	background-color: #3f2aff;
}

.link-nav:not(:last-child){
	margin-right: 25px;
}

.load{
	font: 700 18px;
	color: #3f2aff;
	padding-left: 25px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.container{
	margin: 0 auto;
	padding: 80px 0;
	width: 1170px;
}

h1, h2, h3, p, ul{
	margin: 0;
}

h1, p{
	margin-bottom: 40px;
}

.second-level{
	font-size: 40px;
	line-height: 46px;
	color: #333;
}

.third-level{
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	color: #333;
}

p{
	width: 872px;
}

.head-text{
	font-size: 60px;
	font-weight: 700;
	font-family: Arial;
	line-height: 69px;
	color: #3f2aff;
}

.paragraph{
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #333;
}

.accent{
	width: 100%;
	border-radius: 20px;
	padding: 50px 95px;
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	background-color: #3f2aff;
}

.gray-block{
	border-radius: 20px;
	padding: 30px;
	background: right 75% #f3f3f3 no-repeat;
}

.back-image-nav{
	background-image: url("../img/decorate-1.png");
}

.back-image-final{
	background-image: url("../img/decorate-2.png");
}

.gray-block:not(:last-child){
	margin-bottom: 40px;
}

.gray-block p{
	width: 692px;
	margin-bottom: 10px;
}

h2, h3{
	margin-bottom: 10px;
}

.list-summary{
	padding-left: 35px;
}

.list:not(:last-child){
	margin-bottom: 20px;
}

.list::marker {
  color:#3f2aff;
}

.cards{
	padding: 0;
	margin: 0;
}

.card-list{
	list-style: none;
	padding: 0;
}

.text-card{
	margin: 25px;
	box-sizing: border-box;
	position: relative;
}

.module-cards{
	display: inline-block;
	vertical-align: top;
	width: 570px;
	height: 505px;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.module-cards:nth-child(odd){
	margin-right: 25px;
	margin-bottom: 25px;
}

.head-text-card{
	font-size: 40px;
	font-weight: 700;
	font-family: Arial;
	line-height: 40px;
	color: #3f2aff;
	margin-bottom: 2px;
}

.summary{
	font-size: 20px;
	font-weight: 400;
	font-family: Arial;
	line-height: 33px;
}

.number-card{
	position: absolute;
	top: 160px;
	left: 455px;
	font-family: inherit;
	font-size: 60px;
	font-weight: 700;
	opacity: .1;
}

img{
	margin-bottom: 40px;
}

.fig img{
	margin-bottom: 0;
}

.description{
	border-left: 1px solid #b6b6b6;
	border-right: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
	padding-top: 19px;
	padding-bottom: 19px;
	font-size: 14px;
	text-align: center;
}

.fig{
	display: inline-block;
	margin-bottom: 40px;
	width: 872px;
	font-size: 0;
}

.yet{
	display: block;
	margin: 50px auto;
	justify-content: center;
	box-sizing: border-box;
	width: 274px;
	height: 70px;
	border: 2px solid #3f2aff;
	padding: 25px 74px;
	font-family: Arial;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #3f2aff;
	cursor: pointer;
}
